.flex {
  display: inline-flex;
  flex-direction: row-reverse;
  // Don't know how to fix this shit yet.
  position: relative;
  left: 50%;
}

.spinner {
  margin-top: 30vh;
}

.__register--Login {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

// Not necessary to keep this.
.calendar {
  width: 100%;
  height: 100%;
}

.one_item {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.two_items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.35vw;
}

.two_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.three_items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1vw;
}

.empty_div {
  height: 2.5vh;
}

.gap {
  margin-right: 0.5vw;
  margin-left: 0.5vw;
}

.modal-background .modal-content {
  background: #0a1626;
}
